.xl-text {
  font-size: 75px;
}

.btn-outline-secondary {
  color: var(--bs-secondary);
}

.btn-outline-secondary {
  &:hover {
    color: #fff;
  }
}

.navbar {
  transition: all 0.5s ease-in-out;
}

.navbar-sticky {
  opacity: 0.9;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header .decoration-star {
  opacity: 0.7;
  top: 80px;
  left: -200px;
  width: 500px;
}

.header .decoration-star-2 {
  opacity: 0.7;
  top: 80px;
  right: -200px;
  width: 500px;
}

.details .decoration-star {
  left: -200px;
  width: 500px;
}

.details-2 .decoration-star {
  right: -200px;
  width: 500px;
}

.contact .decoration-star {
  left: -300px;
  width: 600px;
}

.to-top-btn {
  opacity: 0;
  z-index: 20;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  background-color: #44434a;
  transition: all 0.5s ease-in-out;
}

.to-top-btn {
  &:hover {
    background-color: #1d1d21;
  }
}

.to-top-btn {
  img {
    width: 18px;
    margin-bottom: 0.25rem;
  }
}

.show {
  opacity: 1;
}
